@using ProfileSample.Models
@model List<ProfileSample.Models.ImageModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (ImageModel item in Model)
    {
        var imgSrc = $"/Images/Get/{item.Id}";
        <img src="@imgSrc" width="300" height="150"/>
    }
</div>